.button {
  //default
  cursor: pointer;
  font-size: inherit;
  color: inherit;
  appearance: none;
  border: none;
  background-color: transparent;

  //layout
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.5s ease-out;
}

.icon {
  margin-right: 0.5rem;
}

.badge {
  border: 2px solid var(--clr-ash-100);
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  transform: scale(1.2);
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
