@use './../../styles/abstracts/breakpoints';

.cart-item {
  //layout
  display: flex;
  justify-content: space-between;
  align-items: center;

  //styling
  border-bottom: 2px solid var(--clr-ash-100);
  padding: 1rem 0;
  margin: 1rem 0;
}

.name {
  margin-bottom: 0.5rem;
  color: var(--clr-accent-100);
  font-weight: 400;
  text-transform: capitalize;
}

.color {
  text-transform: uppercase;
}

.price {
  font-weight: 500;
  margin-right: 1rem;
  color: var(--clr-ash-300);
  letter-spacing: 0.2rem;
}

.amount {
  font-weight: 600;
  border: 1px solid var(--clr-primary-100);
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  color: var(--clr-primary-100);
  display: inline;
}

.sizes {
  display: flex;
  gap: 0.5rem;
}

.actions {
  display: flex;
  gap: 0.5rem;

  @include breakpoints.respond(phone-mini) {
    flex-direction: column-reverse;
  }
}

.button {
  border: 1px solid var(--clr-ash-100);
}

.cart-item .button:hover,
.cart-item .button:active {
  background-color: var(--clr-ash-100);
}
