@use '../../styles/abstracts/breakpoints';

//children-1
.content {
  //layout
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  row-gap: 10rem;

  //others
  list-style: none;
  width: 100%;

  @include breakpoints.respond(tab-land) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoints.respond(tab-port) {
    grid-template-columns: repeat(2, 1fr);
  }

  //500px
  @media only screen and (max-width: 31.25em) {
    grid-template-columns: repeat(1, 1fr);
  }
}
