.circle {
  //default
  display: inline-block;

  //sizing
  width: 3.5rem;
  height: 3.5rem;

  //styling
  border-radius: 50%;
  border: none;
  background-color: var(--clr-ash-opacity-200);

  //typo
  font-size: 0.6rem;
  font-family: var(--ff-logo);
  text-transform: uppercase;
  color: var(--clr-neutral-opacity-100);

  //position
  position: absolute;
  top: -3rem;
  left: 5rem;

  //animation
  animation: wave 2s infinite;
}

@keyframes wave {
  0% {
    outline-offset: 0px;
    outline: 0px solid var(--clr-ash-opacity-200);
  }

  20% {
    outline: 3px solid var(--clr-ash-opacity-200);
  }

  50% {
    outline-offset: 10px;
  }

  70% {
    outline: 3px solid var(--clr-ash-opacity-200);
  }

  100% {
    outline-offset: 0px;
    outline: 0px solid var(--clr-ash-opacity-200);
  }
}
